.row weather-card {
    display: none;
}
.row weather-card:first-child {
  display: block; 
  width: 100%;
}

.row weather-card .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    display: inline-block!important;
    margin-right: 20px;
}